<!DOCTYPE html>
<html>

<head>
    <title>EDB OPS Inventory</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">


</head>

<body>
  <form method="post" action="/CFTDetails" id='CFTForm'>
    <div class="main-content">
        <p>Please enter the name of role for which you need CFT: </p>
        <input type="text" name="txtRoleName" required placeholder="Role Name"></input>
        <input id="btnSubmit" type="submit" value="Find CFT" onclick="findCFTName();"></input>
<br>
        <div class="main-content" hidden id="CFTName">wefrewf</div>
    </div>
</form>
<script>
console.log("weddnwendineininin")
    var AWS = require('aws-sdk');
AWS.config.update({region: 'us-east-2'});


var cloudformation = new AWS.CloudFormation({apiVersion: '2010-09-09'});
var params = {
    PhysicalResourceId: request.body.txtRoleName
  };

  function findCFTName(params)
  {
    cloudformation.describeStackResources(params, function(err, data) {
        if (err) console.log(err, err.stack);
        else {
            console.log(data.StackResources[0].StackName)
            document.getElementById("CFTName").innerText=data.StackResources[0].StackName
            document.getElementById("CFTName").style.display = "block"
         }
      });

  }




</script>
</body>

</html>
