<!DOCTYPE html>
<html>

<head>
    <title>EDB OPS Inventory</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">


</head>

<body>
  <form method="post" action="/CFTDetails" id='CFTForm'>
    <div class="main-content">
        <p>Name of the CFT : {{ CFT_Name}} </p>
    </div>
</form>

</body>

</html>
